input {

	margin:1;
	display:block;
	width="5px";
	float:left;
	vertical-align:middle;
}

.titre {
	margin:1;
	display:block;
	width="5px";
	float:left;
	vertical-align:middle;
}

.EquipeDom {
	text-align: left;
}

.ScoreDom {
	text-align: center;	
}

.EquipeExt {
	text-align: center;
}

.ScoreExt {
	text-align: right;
}
